<!-- <h1>INTRODUCTION: NG-FORMLY</h1>
<h4 class="text-muted">Egghead.io lesson by Zama Khan Mohammed</h4>

<form role="form" novalidate [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="name">First Name</label>
    <input id="name" class="form-control" formControlName="name" [(ngModel)]="user.name"/>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>

<form role="form" novalidate [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="name">First Name</label>
    <input id="name" class="form-control" formControlName="name" [(ngModel)]="user.name"/>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>

<h6>Model</h6>
<pre>{{ user | json }}</pre> -->

<router-outlet></router-outlet>
